
body {
    background-color: #EEE;
    height: 100vh;
    margin: 0;
    display: flex;
}

main {
    background-color: #FFF;
    width: 800px;
    height: 520px;
    margin: auto;
    display: flex;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
}

aside {
    width: 18rem;
    height: 18rem;
    background-color: rgb(190, 24, 24);
    border-radius: 999rem;
    margin: auto;
}